__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

build/
dist/
*.spec

.pytest_cache/
.mypy_cache/
coverage/
htmlcov/
.coverage
.coverage.*

.vscode/
.idea/

*.log

.DS_Store
Thumbs.db
desktop.ini

*.zip
*.tar.gz
*.tgz
